.about {
  background-color: var(--bg-color);
}

.about__info {
  max-width: 884px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: var(--dark-color);
}

.about__title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 25px;
}

.about__subtitle {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin: 0 auto 35px;
  position: relative;
  width: 189px;
}

.about__subtitle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 43px;
  height: 2px;
  background-color: var(--dark-color);
}

.about__subtitle:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 43px;
  height: 2px;
  background-color: var(--dark-color);
}

.about__desc {
  max-width: 724px;
  font-size: 18px;
  text-align: center;
  margin: 0 auto 50px;
}

.about__list {
  display: flex;
  justify-content: center;
  gap: 50px;
  counter-reset: numList;
  padding-bottom: 70px;
}

.about__item {
  max-width: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.about__circle {
  width: 122px;
  height: 122px;
  border-radius: 100%;
  background-color: #23c7ec;
  padding: 32px 44px;


  span {
    font-weight: 500;
    font-size: 57px;
    line-height: 1;
    text-align: center;
    color: #fff;
  }
}

.about__text {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--dark-color);
}


@media(max-width: 1024px) {

  .about__info {
    max-width: 812px;
  }

  .about__title {
    font-size: 32px;
    margin-bottom: 23px;
  }

  .about__subtitle {
    font-size: 20px;
    margin: 0 auto 33px;
    width: 174px;
  }

  .about__desc {
    max-width: 666px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto 50px;
  }

  .about__item {
    max-width: 180px;
    gap: 26px;
  }

  .about__text {
    font-size: 18px;
  }
}

@media(max-width: 840px) {
  .about__list {
    flex-wrap: wrap;
    gap: 25px;
  }
}

@media(max-width:320px) {

  .about__info {
    max-width: 286px;
  }

  .about__title {
    font-size: 20px;
    padding-top: 30px;
    margin-bottom: 15px;
  }

  .about__subtitle {
    font-size: 16px;
    margin: 0 auto 26px;
    width: 134px;
  }

  .about__desc {
    max-width: 286px;
    font-size: 12px;
    margin: 0 auto 40px;
  }

  .about__list {
    /* padding-bottom: 60px; */
    display: none;
  }

  .about__text {
    font-size: 18px;
  }
}