.footer {
  color: var(--light-color);
  background-color: #2f324b;
}

.footer__container {}

.row {
  padding: 45px 0;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.logo__img {}

.rights {
  flex: auto;
}

.rights__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.40625;
}

.contacts {}

.footer__contacts {
  order: 3;
}

.contacts__phone {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.contacts__callback {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #fff
}

.phone__link {
  display: none;
}

.author {
  flex: auto;
}

.author__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.40625;
}

.author__mobile {
  display: none;
}

.author__mobile-text {}


@media(max-width: 1024px) {

  .contacts__phone {
    font-size: 21px;
  }

  .contacts__callback {
    font-size: 13px;
  }
}

@media(max-width: 768px) {
  .contacts__phone {
    font-size: 18px;
  }

  .contacts__callback {
    font-size: 11px;
  }
}

@media(max-width: 576px) {

  .logo {
    margin-right: 8px;
  }

  .contacts__phone {
    font-size: 18px;
  }

  .contacts__callback {
    font-size: 11px;
  }

  .footer__contacts {
    display: none;
  }

  .phone__link {
    display: block;
    width: 24px;
    height: 24px;
  }

  .author {
    display: none;
  }

  .author__mobile {
    display: block;
    background: #2a2c3f;
  }

  .author__mobile-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.40625;
    color: #fff;
    opacity: 0.5;
    padding: 15px 0;
    text-align: center;
  }
}