.footer {
  padding: 45px 0;
  background-color: #2f324b;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.footer__copyright-desc {
  max-width: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.40625;
  color: #fff;
}

.footer__desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.40625;
  color: #fff;
}

.contacts__img-footer {
  display: none;
}

@media(max-width:1024px) {

  .logo__img-footer {
    width: 60px;
    height: 55px;
  }

  .contacts__phone {
    font-size: 21px;
    margin-bottom: 4px;
  }

  .contacts__link {
    font-size: 13px;
  }
}

@media(max-width:576px) {
  .container {
    padding: 0 15px;
  }

  .footer {
    padding: 25px 0;
    background-color: #2f324b;
  }

  .footer__inner {
    /* flex-wrap: wrap; */
  }


  .footer__copyright {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 6px;
  }

  .logo__img-footer {
    width: 30px;
    height: 30px;
  }

  .contacts__phone {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .contacts__link {
    font-size: 13px;
  }

  .footer__copyright-desc {
    font-size: 11px;
  }

  .footer__desc {
    font-size: 10px;
  }
}

@media(max-width:480px) {
  .footer {
    padding: 25px 0;
    background-color: #2f324b;
  }

  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__copyright {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 20px;
  }

  .logo__img-footer {
    width: 30px;
    height: 30px;
  }

  .footer__desc {
    font-size: 12px;
    padding: 15px 0;
  }

  .contacts {
    display: none;
  }

}