.questions {
  background-image: url("../img/questions-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.questions__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions__info {
  padding-top: 70px;
  max-width: 513px;
  margin-bottom: 50px;
}

.questions__title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: var(--light-color);
  margin-bottom: 17px;
}

.questions__desc {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.questions__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 423px;
  margin-bottom: 50px;
}

.questions__label {
  border: 1.38px solid var(--light-color);
  border-radius: 50px;
  width: 423px;
  height: 44px;
  overflow: hidden;
}

.questions__label:not(:last-child) {
  margin-bottom: 20px;
}

.questions__input {
  font-weight: 400;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  padding-left: 25px;
  background-color: transparent;
  border: none;
}

.questions__btn {
  font-weight: 500;
  text-align: center;
  color: var(--light-color);
  padding: 11px 38px;
  border-radius: 50px;
  box-shadow: 0 4px 25px 0 rgba(21, 169, 203, 0.3);
  background-color: #15a9cb;
  margin-bottom: 50px;
  transition: background-color .3s ease-in-out;
}

.questions__btn:hover {
  background-color: #0e6f8f;
}

.questions__text {
  text-align: center;
  color: var(--light-color);
  padding-bottom: 70px;

}

.question__text-link {
  color: #4a76a8;
  border-bottom: 1px solid #4a76a8;
}

@media(max-width:1024px) {

  .questions__info {
    max-width: 475px;
  }

  .questions__title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .questions__desc {
    font-size: 20px;
  }

  .questions__field {
    max-width: 379px;
  }

  .questions__label {
    border: 2px solid var(--light-color);
    width: 379px;
    height: 39px;
  }

  .questions__input {
    font-size: 20px;
    padding-left: 23px;
  }

  .questions__btn {
    margin-bottom: 30px;
  }

  .questions__btn:hover {
    background-color: #0e6f8f;
  }

  .questions__text {
    font-size: 17px;
    padding-bottom: 56px;
  }
}

@media(max-width: 480px) {

  .questions__info {
    padding-top: 30px;
    max-width: 290px;
    margin-bottom: 35px;
  }

  .questions__title {
    font-size: 20px;
    margin-bottom: 11px;
  }

  .questions__desc {
    font-size: 12px;
  }

  .questions__field {
    max-width: 289px;
    margin-bottom: 45px;
  }

  .questions__label {
    border: 1px solid var(--light-color);
    width: 289px;
    height: 28px;
  }

  .questions__label:not(:last-child) {
    margin-bottom: 15px;
  }

  .questions__input {
    font-size: 14px;
    height: 100%;
    padding-left: 19px;
  }

  .questions__btn {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .questions__text {
    font-size: 11px;
    padding-bottom: 30px;
  }
}